extends ../layouts/master.layout.pug
block content
    h1 Products
    div(class="row")
        each product in listProduct
            div(class="col-3")
                div(class="card mb-4")
                    img(class="card-img-top", src= product.image)
                    div(class="card-body")
                        h4(class="card-title")= product.name
                        p(class="card-text")= product.description
                        h5(class="card-text")= "$" + product.price
                        a(class="btn btn-primary", href='#') Detail
    nav
        ul(class="pagination justify-content-center")
            if selectedPage === 1
                li(class="page-item disabled")
                    a(class="page-link") Previous
                li(class="page-item active")
                    a(class="page-link")= selectedPage
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage + 1))= selectedPage + 1
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage + 2))= selectedPage + 2
                li(class="page-item")
                    a(class="page-link" href= "/product/?page=" + (selectedPage + 3)) Next
            
            else if selectedPage === totalPage
                li(class="page-item")
                    a(class="page-link" href= "/product/?page=" + (selectedPage - 3)) Previous
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage - 2))= selectedPage - 2
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage - 1))= selectedPage - 1
                li(class="page-item active")
                    a(class="page-link")= selectedPage
                li(class="page-item disabled")
                    a(class="page-link") Next
            
            else
                li(class="page-item")
                    a(class="page-link" href= "/product/?page=" + (selectedPage - 2)) Previous
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage - 1))= selectedPage - 1
                li(class="page-item active")
                    a(class="page-link")= selectedPage
                li(class="page-item")
                    a(class="page-link", href= "/product/?page=" + (selectedPage + 1))= selectedPage + 1
                li(class="page-item")
                    a(class="page-link" href= "/product/?page=" + (selectedPage + 2)) Next